 h2 HandyMan
 if username 
    a(href="/profile") View Profile 
    br
    a(href="/requests") Your requests 
    br
    a(href="/acceptance") Your acceptances 
    br  
    a(href="/cart") View Cart 
    hr
    p sell your handicrafts? 
     a(href="/post") make a post 
 else
    a(href="/login") Login/ Register 
 hr
 span Get Local 
  input(type="text")
  input(type="submit", value="search")
 hr

 div 
  a(href="/top") Top Sellers
  br
  a.class1(href="/catalog") Catalog 
 hr
